/*
フォント
* 03スマートフォント（日本語）
* Aldrich（英語）
* Source Han Sans JP
*/
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

@font-face {
    font-family: '03SmartFont';
    src: url('./assets/fonts/03SmartFont.otf');
}

@font-face {
    font-family: 'Aldrich';
    src: url('./assets/fonts/Aldrich-Regular.ttf');
}

.pic-container {
    position: relative;
    background-color: black;
    white-space: nowrap;
    width: 1148px;
}

.asset-pic {
    display: flex;
    position: absolute;
}

.country-flag-pic-container {
    top: 7px;
    left: 22px;
    z-index: 1;
}

.country-leader-pic-container {
    top: 70px;
    left: 2px;
    z-index: 1;
}

#country-leader-pic {
    width: 120px;
}

.ideology-icon-pic-container {
    top: 2px;
    left: 140px;
    z-index: 3;
}

.national-focus-icon-pic-container {
    top: 155px;
    left: 127px;
    z-index: 3;
}

#news-pic {
    width: 134px;
    height: 391px;
}

.news-pic-container {
    top: 343px;
    left: 104px;
    z-index: 1;
}

#super-event-pic {
    width: 620px;
}

.super-event-pic-container {
    top: 54px;
    left: 522px;
    z-index: 1;
}

.template-pic-container {
    z-index: 2;
    position: relative;
}

.political-window-label {
    color: darkgray;
    font-family: 'Aldrich', '03SmartFont';
    z-index: 3;
}

.country-info-label {
    color: white;
    z-index: 3;
}

.national-focus-button-label {
    translate: translate(-50%, -50%);
    z-index: 3;
}

.world-news-popup-label {
    color: black;
    font-family: 'Noto Sans Japanese';
    z-index: 3;
}